<head>
  <title>VNAK | Learn</title>
  <meta name="description" content="Get started with your project and become a successful entrepreneur">
</head>

<div class="jumbotron jumbotron-fluid mb-0" style="height: 71vh;">
  <div class="container">
    <h1 class="mb-4 text-center" style="font-size: 2.8rem; font-weight:300;">Become an Entrepeneur</h1>
    <p class="lead text-center">Step by Step guide on to build your project and become successful</p>
    <form class="form-inline justify-content-center mt-5 mb-5" method="POST" action="https://formspree.io/contact@vnak.co">
      <input type="email" class="form-control col-4 mr-2" id="inlineFormInput" placeholder="Email">
      <button type="submit" class="btn btn-success">Get Started</button>
      <input type="hidden" name="_next" value="vnak.co" />
      <input type="hidden" name="_subject" value="Become an Entrepreneur!"/>
    </form>
  </div>
</div>
