/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Montserrat', sans-serif;
  }

a, .btn-link{
   color:#666;
   text-decoration: none;
 }

a:visited {
   color:#666;
 }

a:hover, .btn-link:hover {
   background-color: none;
   border-bottom: 2px solid #2ECC41;
   text-decoration: none;
 }

a:focus, .btn-link:focus {
   color:#2ECC41;
   text-decoration: none;
 }

.btn-success {
  background:#2ECC41;
}

.create-post-btn {
  width: 20rem;
}

.form-input {
  width: 70%;
}

label {
  margin-right: 2rem;
}

.navbar {
  background: black;
}

.jumbotron {
  height:85vh;
  text-align: center;
  background-position: left;
  background-repeat: no-repeat;
  background-size:cover;
}


.display-4, .display-5{
  text-shadow: 1px 2px 5px black;
}

.display-5 {
  font-size: 1.5rem;
  font-weight: 400;
}

.most-recent-post-content {
  width: 50%;
}

.post-content-index, .most-recent-post-content {
  line-height: 200%;
}

.post-content {
  width: 50%;
  line-height: 250%;
  margin:auto;
}

.container {
  width: 90%;
}

#share-ul {
  position: fixed;
  top:150px;
}

#share-ul a:hover, .nav-link:hover {
  border-bottom: none;
}

footer {
   background:#353537;
 }

.footer-title {
   font-size:1rem;
   color:#666;
 }

.footer-list a {
   font-size:0.7rem;
 }
