/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Montserrat', sans-serif;
  }

a {
   color:#666;
   text-decoration: none;
 }

a:visited {
   color:#666;
 }

a:hover {
   background-color: none;
   color:#2ECC41;
   border-bottom: 2px solid #2ECC41;
   text-decoration: none;
 }

a:focus {
   color:#2ECC41;
   text-decoration: none;
 }

.btn-success {
  background:#2ECC41;
}

.create-post-btn {
  width: 20rem;
}

.form-input {
  width: 70%;
}

label {
  margin-right: 2rem;
}

.navbar {
  background: black;
}

.jumbotron {
  height:85vh;
  text-align: center;
  background-position: left;
  background-repeat: no-repeat;
  background-size:cover;
}

.button-jumbotron {
  font-weight: 100;
  color: #2ECC41;
  border:2px solid #2ECC41;
  padding:0.6rem;
  border-radius: .3rem;
}

.button-jumbotron:visited {
  color:#2ECC41;
}

.post-content {
  line-height: 200%;
  font-weight: 200;
}

.container {
  width: 90%;
}

footer {
   background:#353537;
 }

.footer-title {
   font-size:11px;
   color:#666;
 }

.footer-list a {
   font-size:9px;
 }
