<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse sticky-top">
      <div class="d-flex flex-row justify-content-between">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-text text-white">
          VNAK
        </span>
        <a class="text-white align-self-center" href="#">Subscribe</a>
      </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Entrepreneuriat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Productivité</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Good To Know</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nouveaux Produits</a>
            </li>
          </ul>
        </div>
    </nav>
    <%= yield %>

    <footer class="d-flex flex-row rounded-top">
      <div class="categories-footer col-4 mt-3">
        <h6 class="footer-title">Catégories</h6>
        <ul class="footer-list list-unstyled">
          <li><a class="text-white" href="#">Entrepreneuriat</a></li>
          <li><a class="text-white" href="#">Productivité</a></li>
          <li><a class="text-white" href="#">Good To Know</a></li>
          <li><a class="text-white" href="#">Nouveaux Produits</a></li>
        </ul>
      </div>
      <div class="contact-footer col-4 mt-3">
        <h6 class="footer-title">A propos</h6>
        <ul class="footer-list list-unstyled">
          <li><a class="text-white" href="#">Les Auteurs</a></li>
          <li><a class="text-white" href="#">Partenariats</a></li>
          <li><a class="text-white" href="#">Termes</a></li>
          <li><a class="text-white" href="#">Contact</a></li>
        </ul>
      </div>
        <div class="social-media-footer col-4 mt-3">
          <h6 class="footer-title">Suivez-nous</h6>
          <ul class="footer-list list-unstyled">
            <li><a class="text-white" href="#">Facebook</a></li>
            <li><a class="text-white" href="#">Twitter</a></li>
            <li><a class="text-white" href="#">LinkedIn</a></li>
          </ul>
      </div>
    </footer>
  </body>
</html>
